header{
    @include centrado;
    padding: 3rem 2rem;
    border-bottom: 2px solid $lightBlue;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        max-width: 200px;
        transition: all .3s;
        img{
            width: 100%;
        }
        &:hover{
            transform: scale(1.1);  
        }
    }

    &__links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        
        &-link{
            color: $white;
            font-size: 1.3rem;
            --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
            &::after{
                content: "";
                display: block;
                background: $lightBlue;
                width: 100%;
                margin-top: 3px;
                height: 3px;
                clip-path: var(--clippy);
                transition: clip-path .3s;
            }
            &:hover{
                --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
            }
        }

        &-cart{
            background: transparent;
            border: none;
            cursor: pointer;
            &-icon{
                color: $white;
                font-size: 1.5rem;
                transition: all .3s;
                &:hover{
                    transform: scale(1.1)
                }
            }
            &-contador{
                color: $white
            }
        }
    }
}

// Carrito
.cart.active{
    right: 0;
}

.cart{
    position: fixed;
    right: -100%;
    top: 16.3%;
    height: 400px;
    width: 600px;
    border: 2px solid $lightBlue;
    background: $white;
    z-index: 999;
    transition: all .5s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__botones{
        display: flex;
        width: 100%;
        justify-content: space-around;

        &-vaciar{
            background: $gradient;
            color: $white;
            border: 2px solid $lightBlue;
            padding: 4px 8px;
            cursor: pointer;
        }

        &-comprar{
            background: $gradient;
            color: $white;
            border: 2px solid $lightBlue;
            padding: 4px 8px;
            cursor: pointer;
        }
        
        &-total{
            background: $gradient;
            color: $white;
            border: 2px solid $lightBlue;
            padding: 4px 8px;
            display: inline;
        }
        
    }

    &__product{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        font-size: 0.8rem;
        color: $gradient;
        align-items: center;
        
        &-delete{
            border: none;
            background: $gradient;
            color: $white;
            border: 2px solid $lightBlue;
            padding: 5px 5px;
            cursor: pointer;
        }
    }
}




.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include centrado;
    padding: 4rem 2rem;
    border-top: 2px solid $lightBlue;
    &__logo{
        max-width: 200px;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
        img{
            width: 100%;
        }
    }

    &__links{
        display: flex;
        justify-content: space-around;

        &-link{
            color: $white;
            font-size: 1.3rem;
            --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
            &::after{
                content: "";
                display: block;
                background: $lightBlue;
                width: 100%;
                margin-top: 3px;
                height: 3px;
                clip-path: var(--clippy);
                transition: clip-path .3s;
            }
            &:hover{
                --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
            }
        }

    }
    &__media{
        width: 15%;
        display: flex;
        justify-content: space-around;
        i{
            font-size: 2rem;
            color: $white;
            transition: all .3s;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}

