header{
    @include centrado;
    padding: 3rem 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__logo{
        max-width: 200px;
        transition: all .3s;
        img{
            width: 100%;
        }
        &:hover{
            transform: scale(1.1);  
        }
    }

    &__links{
        width: 25%;
        display: flex;
        justify-content: space-around;

        &-link{
            color: $white;
            font-size: 1.3rem;
            --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
            &::after{
                content: "";
                display: block;
                background: $lightBlue;
                width: 100%;
                margin-top: 3px;
                height: 3px;
                clip-path: var(--clippy);
                transition: clip-path .3s;
            }
            &:hover{
                --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
            }
            i{
                font-size: 1.5rem;
                transition: all .3s;
                &:hover{
                    transform: scale(1.1)
                }
            }
        }
    }
}

footer{
    @include centrado;
    padding: 3rem 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__logo{
        max-width: 200px;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
        img{
            width: 100%;
        }
    }

    &__links{
        display: flex;
        justify-content: space-around;

        &-link{
            color: $white;
            font-size: 1.3rem;
            --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
            &::after{
                content: "";
                display: block;
                background: $lightBlue;
                width: 100%;
                margin-top: 3px;
                height: 3px;
                clip-path: var(--clippy);
                transition: clip-path .3s;
            }
            &:hover{
                --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
            }
        }

    }
    &__media{
        width: 15%;
        display: flex;
        justify-content: space-around;
        i{
            font-size: 2rem;
            color: $white;
            transition: all .3s;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}
