// Hero
.hero {
  display: flex;
  gap: var(--spacer--md);
  align-items: center;
  justify-content: center;

  &__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacer--sm);
    max-width: 500px;
  }

  &__img {
    max-width: 500px;
    img {
      width: 100%;
    }
  }
}

// Botones
.btn-catalogo {
  padding: 4px 6px;
  background: var(--lightBlue);
  border-radius: 6px;
  transition: var(--transition);
  border: var(--border);
  width: max-content;
  &:hover {
    background: var(--gradient);
    color: var(--lightBlue);
    border: var(--border);
  }
}

// CAMISETAS
.camisetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--sm);
  text-align: center;

  &__img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacer--md);

    img {
      border-radius: 8px;
      border: var(--border);
      max-width: 260px;
    }
  }
}
