// HERO
.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    @include centrado;
    padding: 4rem 2rem;

    &__img{
        justify-self: left;

        img{
            width: 100%;
        }
    }
    &__texto{
        justify-self: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        h1{
            font-size: 3.5rem;
            color: $white;
        }
        a{
            color: $darkBlue;
            font-size: 1.2rem;
            padding: 8px 24px;
            background: $lightBlue;
            border-radius: 10px;
            transition: all .3s;
            &:hover{
                background: $gradient;
                color: $lightBlue;
                border: 2px solid $lightBlue;
            }
        }
    }
}

// CAMISETAS
.camisetas{
    @include centrado;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    overflow: hidden;

    h1{
        font-size: 3rem;
        color: $white;
        margin-bottom: 2.5rem;
    }

    &__img{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        img{
            border-radius: 8px;
            border: 2px solid $lightBlue;
            width: 100%
        }
    }
    a{
        margin-top: 2rem;
        color: $darkBlue;
        font-size: 1.2rem;
        padding: 8px 24px;
        background: $lightBlue;
        border-radius: 10px;   
        transition: all .3s;
        &:hover{
            background: $gradient;
            color: $lightBlue;
            border: 2px solid $lightBlue;
        }
    }
}
