@media screen and (max-width: 768px) {
  // Header
  .header {
    flex-direction: column;
    gap: var(--spacer--sm);
  }

  // Index
  .hero {
    flex-wrap: wrap-reverse;
    &__texto {
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }

  // Footer
  .footer {
    flex-direction: column;
    gap: var(--spacer--sm);
  }

  .cart {
    width: 100%;
  }
}
