// Cards Productos
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--spacer--md);
  align-self: center;
  width: 100%;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
    padding: calc(var(--spacer--sm) / 2);
    border-radius: 8px;
    gap: 10px;

    &__img {
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    &__text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px;

      p {
        font-size: 0.9rem;
      }
    }

    button {
      color: var(--darkBlue);
      font-size: var(--fontS);
      padding: 8px 16px;
      background: var(--lightBlue);
      border-radius: 6px;
      border: none;
      cursor: pointer;
      border: 2px solid var(--lightBlue);
      transition: var(--transition);
      &:hover {
        background: var(--gradient);
        color: var(--lightBlue);
        border: var(--border);
      }
    }
  }
}

// Carrito
.cart.active {
  left: 0;
}
.cart {
  position: fixed;
  left: -400%;
  top: 0;
  min-height: 100vh;
  width: 50%;
  border: var(--border);
  background: var(--white);
  z-index: 999;
  transition: var(--transition);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--sm);

  &__close {
    position: absolute;
    font-size: var(--fontS);
    right: 1.2rem;
    top: 1.2rem;
    cursor: pointer;
    transition: all 0.1s;
    color: #000;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    color: #000;
  }

  &__product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--spacer--sm);
    color: #000;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;

    &-data {
      font-size: 0.8rem;
      width: 20%;
    }

    &-delete {
      border: none;
      background: transparent;
      color: #bd2a2e;
      padding: 5px 5px;
      cursor: pointer;
      font-size: var(--fontS);
      transition: all 0.1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    &-vaciar {
      color: var(--lightBlue);
      background: transparent;
      border: none;
      cursor: pointer;
      transition: var(--transition);
      font-size: var(--fontS);
      font-weight: 600;
      --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
      &::after {
        content: "";
        display: block;
        background: var(--lightBlue);
        width: 100%;
        margin-top: 3px;
        height: 2px;
        clip-path: var(--clippy);
        transition: var(--transition);
      }
      &:hover {
        --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
      }
    }
    &-total {
      color: #000000;
    }
  }

  &__comprar {
    background: var(--lightBlue);
    color: var(--darkBlue);
    border: var(--border);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 600;
    border: var(--border);
    &:hover {
      background: var(--gradient);
      color: var(--white);
      border: var(--border);
    }
  }
}

// Loader
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--lightBlue);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 2rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Error
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bd2a2e;
  padding: var(--spacer--sm);
  border: var(--border);

  &__img {
    img {
      width: 100%;
      border: var(--border);
    }
  }
}
