.cards-container{
    @include centrado;
    padding: 6rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__text{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        p{
            color: $white;
        }
    }

    &__img img{
        width: 100%;
        border-radius: 8px;
        border: 2px solid $lightBlue;
    }

    &__button{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        button{
            color: $gradient;
            font-size: 1.1rem;
            padding: 8px 16px;
            background: $lightBlue;
            border-radius: 10px;
            position: absolute;
            transition: all .3s;
            border: none;
            cursor: pointer;
            &:hover{
                background: $gradient;
                color: $lightBlue;
                border: 2px solid $lightBlue;
                transform: scale(1.1)
            }
        }
    }
}

// Loader
.cart-productos{
   position: relative;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: $lightBlue;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes rotation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

// Error
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 2rem;
    grid-column: 2;
    border: 2px solid $lightBlue;
    &__img {
        img{
            width: 100%;
            border: 2px solid $lightBlue;
        }
    }
}
